<!-- Usando o componente Angular Material 'mat-list' para exibir uma lista de tarefas -->
<mat-list class="task"  (dblclick) = "onToggle(tarefa)" [ngClass]="{raminder: tarefa.concluido}" >

    <span matListItemTitle>
        {{tarefa.tarefa}} 
<!-- Botão com um ícone de lixeira para deletar a tarefa -->
        <button mat-fab aria-label="Example icon button with a delete icon" (click)="onDelete(tarefa)" >
        <mat-icon class="btn-delete">delete</mat-icon>
        </button>
    </span>

    <p matListItemLine>{{tarefa.categoria}}</p>

</mat-list>



